@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
header {
  background: #ffffff;
  color: #000000;
  height: 80px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 80px 1fr;
  padding: 0px 15px 0px 15px;
}
header.bb {
  background: #000000;
}
header.bw {
  background: #ffffff;
}
header.b1 {
  background: #f7fbfb;
}
header.b2 {
  background: #eff7f8;
}
header.b3 {
  background: #007eff;
}
header.b4 {
  background: linear-gradient(#fff, #f7fbfb);
}
header.b5 {
  background: linear-gradient(-90deg, #222, #45454d);
}
header.cb {
  color: #000000;
}
header.cw {
  color: #ffffff;
}
header.c1 {
  color: #f7fbfb;
}
header.c2 {
  color: #eff7f8;
}
header.c3 {
  color: #007eff;
}
header.c4 {
  color: #969696;
}
header.c5 {
  color: #5f656d;
}
footer {
  background: #ffffff;
  height: 80px;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul.left {
  justify-content: flex-start;
}
nav ul.right {
  justify-content: flex-end;
}
nav ul li {
  margin: 0px 15px 0px 15px;
  display: block;
}
nav ul li a {
  color: inherit;
  letter-spacing: -0.02rem;
  font-weight: bolder;
  font-size: 0.8em;
  text-transform: uppercase;
}
section.m10 {
  margin: 10px;
}
section.m20 {
  margin: 20px;
}
section.m30 {
  margin: 30px;
}
section.m40 {
  margin: 40px;
}
section.m50 {
  margin: 50px;
}
section.m60 {
  margin: 60px;
}
section.mt10 {
  margin-top: 10px;
}
section.mt20 {
  margin-top: 20px;
}
section.mt30 {
  margin-top: 30px;
}
section.mt40 {
  margin-top: 40px;
}
section.mt50 {
  margin-top: 50px;
}
section.mt60 {
  margin-top: 60px;
}
section.mb10 {
  margin-bottom: 10px;
}
section.mb20 {
  margin-bottom: 20px;
}
section.mb30 {
  margin-bottom: 30px;
}
section.mb40 {
  margin-bottom: 40px;
}
section.mb50 {
  margin-bottom: 50px;
}
section.mb60 {
  margin-bottom: 60px;
}
section.mla {
  margin-left: auto;
}
section.ml10 {
  margin-left: 10px;
}
section.ml20 {
  margin-left: 20px;
}
section.ml30 {
  margin-left: 30px;
}
section.ml40 {
  margin-left: 40px;
}
section.ml50 {
  margin-left: 50px;
}
section.ml60 {
  margin-left: 60px;
}
section.mra {
  margin-right: auto;
}
section.mr10 {
  margin-right: 10px;
}
section.mr20 {
  margin-right: 20px;
}
section.mr30 {
  margin-right: 30px;
}
section.mr40 {
  margin-right: 40px;
}
section.mr50 {
  margin-right: 50px;
}
section.mr60 {
  margin-right: 60px;
}
section.p10 {
  padding: 10px;
}
section.p20 {
  padding: 20px;
}
section.p30 {
  padding: 30px;
}
section.p40 {
  padding: 40px;
}
section.p50 {
  padding: 50px;
}
section.p60 {
  padding: 60px;
}
section.pt10 {
  padding-top: 10px;
}
section.pt20 {
  padding-top: 20px;
}
section.pt30 {
  padding-top: 30px;
}
section.pt40 {
  padding-top: 40px;
}
section.pt50 {
  padding-top: 50px;
}
section.pt60 {
  padding-top: 60px;
}
section.pb10 {
  padding-bottom: 10px;
}
section.pb20 {
  padding-bottom: 20px;
}
section.pb30 {
  padding-bottom: 30px;
}
section.pb40 {
  padding-bottom: 40px;
}
section.pb50 {
  padding-bottom: 50px;
}
section.pb60 {
  padding-bottom: 60px;
}
section.pl10 {
  padding-left: 10px;
}
section.pl20 {
  padding-left: 20px;
}
section.pl30 {
  padding-left: 30px;
}
section.pl40 {
  padding-left: 40px;
}
section.pl50 {
  padding-left: 50px;
}
section.pl60 {
  padding-left: 60px;
}
section.pr10 {
  padding-right: 10px;
}
section.pr20 {
  padding-right: 20px;
}
section.pr30 {
  padding-right: 30px;
}
section.pr40 {
  padding-right: 40px;
}
section.pr50 {
  padding-right: 50px;
}
section.pr60 {
  padding-right: 60px;
}
section.cb {
  color: #000000;
}
section.cw {
  color: #ffffff;
}
section.c1 {
  color: #f7fbfb;
}
section.c2 {
  color: #eff7f8;
}
section.c3 {
  color: #007eff;
}
section.c4 {
  color: #969696;
}
section.c5 {
  color: #5f656d;
}
section.bb {
  background: #000000;
}
section.bw {
  background: #ffffff;
}
section.b1 {
  background: #f7fbfb;
}
section.b2 {
  background: #eff7f8;
}
section.b3 {
  background: #007eff;
}
section.b4 {
  background: linear-gradient(#fff, #f7fbfb);
}
section.b5 {
  background: linear-gradient(-90deg, #222, #45454d);
}
section.flex {
  display: flex;
}
section.flex1 {
  flex: 1;
}
section.flex2 {
  flex: 2;
}
section.flex3 {
  flex: 3;
}
section.flex-row {
  flex-direction: row;
}
section.flex-column {
  flex-direction: column;
}
section.cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.cch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.ccv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.ct {
  text-align: center;
}
section.wh {
  min-height: 100vh;
}
section.wh-header {
  min-height: calc(100vh - 80px);
}
section.wh-header-x2 {
  min-height: calc(100vh - 80px - 80px);
}
section.mw1200 {
  width: 100%;
  max-width: 1200px;
}
section.mw1100 {
  width: 100%;
  max-width: 1100px;
}
section.mw1000 {
  width: 100%;
  max-width: 1000px;
}
section.mw900 {
  width: 100%;
  max-width: 900px;
}
section.mw800 {
  width: 100%;
  max-width: 800px;
}
section.mw700 {
  width: 100%;
  max-width: 700px;
}
section.mw600 {
  width: 100%;
  max-width: 600px;
}
section.fs-large {
  font-size: large;
}
section.fs-x-large {
  font-size: x-large;
}
section.fs-xx-large {
  font-size: xx-large;
}
section.fs-normal {
  font-size: normal;
}
section.fs-small {
  font-size: small;
}
section.fs-x-small {
  font-size: x-small;
}
section.fs-xx-small {
  font-size: xx-small;
}
section.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section.fw100 {
  font-weight: 100;
}
section.fw200 {
  font-weight: 200;
}
section.fw300 {
  font-weight: 300;
}
section.fw400 {
  font-weight: 400;
}
section.fw500 {
  font-weight: 500;
}
section.grid {
  display: grid;
  grid-template-rows: auto;
}
section.grid.grid-c5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
section.grid.grid-c4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
section.grid.grid-c3 {
  grid-template-columns: 1fr 1fr 1fr;
}
section.grid.grid-c2 {
  grid-template-columns: 1fr 1fr;
}
section.grid.grid-c1 {
  grid-template-columns: 1fr;
}
section.grid.grid-c1-2 {
  grid-template-columns: 1fr 2fr;
}
section.grid.grid-c2-1 {
  grid-template-columns: 2fr 1fr;
}
section.grid.grid-c1-3 {
  grid-template-columns: 1fr 3fr;
}
section.grid.grid-c3-1 {
  grid-template-columns: 3fr 1fr;
}
section.grid.grid-c2-3 {
  grid-template-columns: 2fr 3fr;
}
section.grid.grid-c3-2 {
  grid-template-columns: 3fr 2fr;
}
section.grid.grid-cg50 {
  grid-column-gap: 50px;
}
section.grid.grid-cg40 {
  grid-column-gap: 30px;
}
section.grid.grid-cg30 {
  grid-column-gap: 30px;
}
section.grid.grid-cg20 {
  grid-column-gap: 20px;
}
section.grid.grid-cg10 {
  grid-column-gap: 10px;
}
section.grid.grid-rg50 {
  grid-row-gap: 50px;
}
section.grid.grid-rg40 {
  grid-row-gap: 30px;
}
section.grid.grid-rg30 {
  grid-row-gap: 30px;
}
section.grid.grid-rg20 {
  grid-row-gap: 20px;
}
section.grid.grid-rg10 {
  grid-row-gap: 10px;
}
section.hero {
  text-align: center;
  padding: 30px;
}
section.hero.left {
  text-align: left;
}
section.hero.right {
  text-align: right;
}
article {
  font-size: large;
  line-height: 1.6em;
}
article.m10 {
  margin: 10px;
}
article.m20 {
  margin: 20px;
}
article.m30 {
  margin: 30px;
}
article.m40 {
  margin: 40px;
}
article.m50 {
  margin: 50px;
}
article.m60 {
  margin: 60px;
}
article.mt10 {
  margin-top: 10px;
}
article.mt20 {
  margin-top: 20px;
}
article.mt30 {
  margin-top: 30px;
}
article.mt40 {
  margin-top: 40px;
}
article.mt50 {
  margin-top: 50px;
}
article.mt60 {
  margin-top: 60px;
}
article.mb10 {
  margin-bottom: 10px;
}
article.mb20 {
  margin-bottom: 20px;
}
article.mb30 {
  margin-bottom: 30px;
}
article.mb40 {
  margin-bottom: 40px;
}
article.mb50 {
  margin-bottom: 50px;
}
article.mb60 {
  margin-bottom: 60px;
}
article.mla {
  margin-left: auto;
}
article.ml10 {
  margin-left: 10px;
}
article.ml20 {
  margin-left: 20px;
}
article.ml30 {
  margin-left: 30px;
}
article.ml40 {
  margin-left: 40px;
}
article.ml50 {
  margin-left: 50px;
}
article.ml60 {
  margin-left: 60px;
}
article.mra {
  margin-right: auto;
}
article.mr10 {
  margin-right: 10px;
}
article.mr20 {
  margin-right: 20px;
}
article.mr30 {
  margin-right: 30px;
}
article.mr40 {
  margin-right: 40px;
}
article.mr50 {
  margin-right: 50px;
}
article.mr60 {
  margin-right: 60px;
}
article.p10 {
  padding: 10px;
}
article.p20 {
  padding: 20px;
}
article.p30 {
  padding: 30px;
}
article.p40 {
  padding: 40px;
}
article.p50 {
  padding: 50px;
}
article.p60 {
  padding: 60px;
}
article.pt10 {
  padding-top: 10px;
}
article.pt20 {
  padding-top: 20px;
}
article.pt30 {
  padding-top: 30px;
}
article.pt40 {
  padding-top: 40px;
}
article.pt50 {
  padding-top: 50px;
}
article.pt60 {
  padding-top: 60px;
}
article.pb10 {
  padding-bottom: 10px;
}
article.pb20 {
  padding-bottom: 20px;
}
article.pb30 {
  padding-bottom: 30px;
}
article.pb40 {
  padding-bottom: 40px;
}
article.pb50 {
  padding-bottom: 50px;
}
article.pb60 {
  padding-bottom: 60px;
}
article.pl10 {
  padding-left: 10px;
}
article.pl20 {
  padding-left: 20px;
}
article.pl30 {
  padding-left: 30px;
}
article.pl40 {
  padding-left: 40px;
}
article.pl50 {
  padding-left: 50px;
}
article.pl60 {
  padding-left: 60px;
}
article.pr10 {
  padding-right: 10px;
}
article.pr20 {
  padding-right: 20px;
}
article.pr30 {
  padding-right: 30px;
}
article.pr40 {
  padding-right: 40px;
}
article.pr50 {
  padding-right: 50px;
}
article.pr60 {
  padding-right: 60px;
}
article.cb {
  color: #000000;
}
article.cw {
  color: #ffffff;
}
article.c1 {
  color: #f7fbfb;
}
article.c2 {
  color: #eff7f8;
}
article.c3 {
  color: #007eff;
}
article.c4 {
  color: #969696;
}
article.c5 {
  color: #5f656d;
}
article.bb {
  background: #000000;
}
article.bw {
  background: #ffffff;
}
article.b1 {
  background: #f7fbfb;
}
article.b2 {
  background: #eff7f8;
}
article.b3 {
  background: #007eff;
}
article.b4 {
  background: linear-gradient(#fff, #f7fbfb);
}
article.b5 {
  background: linear-gradient(-90deg, #222, #45454d);
}
article.flex {
  display: flex;
}
article.flex1 {
  flex: 1;
}
article.flex2 {
  flex: 2;
}
article.flex3 {
  flex: 3;
}
article.flex-row {
  flex-direction: row;
}
article.flex-column {
  flex-direction: column;
}
article.cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article.cch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article.ccv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article.ct {
  text-align: center;
}
article.wh {
  min-height: 100vh;
}
article.wh-header {
  min-height: calc(100vh - 80px);
}
article.wh-header-x2 {
  min-height: calc(100vh - 80px - 80px);
}
article.mw1200 {
  width: 100%;
  max-width: 1200px;
}
article.mw1100 {
  width: 100%;
  max-width: 1100px;
}
article.mw1000 {
  width: 100%;
  max-width: 1000px;
}
article.mw900 {
  width: 100%;
  max-width: 900px;
}
article.mw800 {
  width: 100%;
  max-width: 800px;
}
article.mw700 {
  width: 100%;
  max-width: 700px;
}
article.mw600 {
  width: 100%;
  max-width: 600px;
}
article.fs-large {
  font-size: large;
}
article.fs-x-large {
  font-size: x-large;
}
article.fs-xx-large {
  font-size: xx-large;
}
article.fs-normal {
  font-size: normal;
}
article.fs-small {
  font-size: small;
}
article.fs-x-small {
  font-size: x-small;
}
article.fs-xx-small {
  font-size: xx-small;
}
article.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
article.fw100 {
  font-weight: 100;
}
article.fw200 {
  font-weight: 200;
}
article.fw300 {
  font-weight: 300;
}
article.fw400 {
  font-weight: 400;
}
article.fw500 {
  font-weight: 500;
}
article p {
  margin-top: 0px;
}
article img {
  width: 100%;
}
article iframe {
  width: 100%;
  height: 400px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
}
h1.fs-large,
h2.fs-large,
h3.fs-large,
h4.fs-large,
h5.fs-large,
h6.fs-large {
  font-size: large;
}
h1.fs-x-large,
h2.fs-x-large,
h3.fs-x-large,
h4.fs-x-large,
h5.fs-x-large,
h6.fs-x-large {
  font-size: x-large;
}
h1.fs-xx-large,
h2.fs-xx-large,
h3.fs-xx-large,
h4.fs-xx-large,
h5.fs-xx-large,
h6.fs-xx-large {
  font-size: xx-large;
}
h1.fs-normal,
h2.fs-normal,
h3.fs-normal,
h4.fs-normal,
h5.fs-normal,
h6.fs-normal {
  font-size: normal;
}
h1.fs-small,
h2.fs-small,
h3.fs-small,
h4.fs-small,
h5.fs-small,
h6.fs-small {
  font-size: small;
}
h1.fs-x-small,
h2.fs-x-small,
h3.fs-x-small,
h4.fs-x-small,
h5.fs-x-small,
h6.fs-x-small {
  font-size: x-small;
}
h1.fs-xx-small,
h2.fs-xx-small,
h3.fs-xx-small,
h4.fs-xx-small,
h5.fs-xx-small,
h6.fs-xx-small {
  font-size: xx-small;
}
h1.ellipsis,
h2.ellipsis,
h3.ellipsis,
h4.ellipsis,
h5.ellipsis,
h6.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
h1.fw100,
h2.fw100,
h3.fw100,
h4.fw100,
h5.fw100,
h6.fw100 {
  font-weight: 100;
}
h1.fw200,
h2.fw200,
h3.fw200,
h4.fw200,
h5.fw200,
h6.fw200 {
  font-weight: 200;
}
h1.fw300,
h2.fw300,
h3.fw300,
h4.fw300,
h5.fw300,
h6.fw300 {
  font-weight: 300;
}
h1.fw400,
h2.fw400,
h3.fw400,
h4.fw400,
h5.fw400,
h6.fw400 {
  font-weight: 400;
}
h1.fw500,
h2.fw500,
h3.fw500,
h4.fw500,
h5.fw500,
h6.fw500 {
  font-weight: 500;
}
h1.cb,
h2.cb,
h3.cb,
h4.cb,
h5.cb,
h6.cb {
  color: #000000;
}
h1.cw,
h2.cw,
h3.cw,
h4.cw,
h5.cw,
h6.cw {
  color: #ffffff;
}
h1.c1,
h2.c1,
h3.c1,
h4.c1,
h5.c1,
h6.c1 {
  color: #f7fbfb;
}
h1.c2,
h2.c2,
h3.c2,
h4.c2,
h5.c2,
h6.c2 {
  color: #eff7f8;
}
h1.c3,
h2.c3,
h3.c3,
h4.c3,
h5.c3,
h6.c3 {
  color: #007eff;
}
h1.c4,
h2.c4,
h3.c4,
h4.c4,
h5.c4,
h6.c4 {
  color: #969696;
}
h1.c5,
h2.c5,
h3.c5,
h4.c5,
h5.c5,
h6.c5 {
  color: #5f656d;
}
a {
  color: #007eff;
  text-decoration: none;
}
a.flex {
  display: flex;
}
a.flex1 {
  flex: 1;
}
a.flex2 {
  flex: 2;
}
a.flex3 {
  flex: 3;
}
a.flex-row {
  flex-direction: row;
}
a.flex-column {
  flex-direction: column;
}
a.cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a.cch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a.ccv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a.ct {
  text-align: center;
}
a.wh {
  min-height: 100vh;
}
a.wh-header {
  min-height: calc(100vh - 80px);
}
a.wh-header-x2 {
  min-height: calc(100vh - 80px - 80px);
}
a.mw1200 {
  width: 100%;
  max-width: 1200px;
}
a.mw1100 {
  width: 100%;
  max-width: 1100px;
}
a.mw1000 {
  width: 100%;
  max-width: 1000px;
}
a.mw900 {
  width: 100%;
  max-width: 900px;
}
a.mw800 {
  width: 100%;
  max-width: 800px;
}
a.mw700 {
  width: 100%;
  max-width: 700px;
}
a.mw600 {
  width: 100%;
  max-width: 600px;
}
a.cb {
  color: #000000;
}
a.cw {
  color: #ffffff;
}
a.c1 {
  color: #f7fbfb;
}
a.c2 {
  color: #eff7f8;
}
a.c3 {
  color: #007eff;
}
a.c4 {
  color: #969696;
}
a.c5 {
  color: #5f656d;
}
a.bb {
  background: #000000;
}
a.bw {
  background: #ffffff;
}
a.b1 {
  background: #f7fbfb;
}
a.b2 {
  background: #eff7f8;
}
a.b3 {
  background: #007eff;
}
a.b4 {
  background: linear-gradient(#fff, #f7fbfb);
}
a.b5 {
  background: linear-gradient(-90deg, #222, #45454d);
}
a:not(.icon)[target="_blank"]:after {
  font-family: 'FontAwesome';
  content: " \f08e";
}
a.nav {
  color: inherit;
  letter-spacing: -0.02rem;
  font-weight: bolder;
  font-size: 0.8em;
  text-transform: uppercase;
}
a.nav2 {
  color: inherit;
  letter-spacing: -0.02rem;
}
a.nav2:hover {
  font-weight: bolder;
}
a.button {
  background: #007eff;
  color: #ffffff;
  padding: 15px;
}
img.f100,
canvas.f100 {
  width: 100%;
  height: 100%;
}
img.f80,
canvas.f80 {
  width: 80%;
  height: 80%;
}
img.f70,
canvas.f70 {
  width: 70%;
  height: 70%;
}
img.w100,
canvas.w100 {
  width: 100%;
  height: auto;
}
img.w90,
canvas.w90 {
  width: 90%;
  height: auto;
}
img.w80,
canvas.w80 {
  width: 80%;
  height: auto;
}
img.w70,
canvas.w70 {
  width: 70%;
  height: auto;
}
img.w60,
canvas.w60 {
  width: 60%;
  height: auto;
}
img.h100,
canvas.h100 {
  width: auto;
  height: 100%;
}
img.h90,
canvas.h90 {
  width: auto;
  height: 90%;
}
img.h80,
canvas.h80 {
  width: auto;
  height: 80%;
}
img.h70,
canvas.h70 {
  width: auto;
  height: 70%;
}
img.h60,
canvas.h60 {
  width: auto;
  height: 60%;
}
img.mh256,
canvas.mh256 {
  min-height: 256px;
}
img.mh128,
canvas.mh128 {
  min-height: 128px;
}
img.mh64,
canvas.mh64 {
  min-height: 64px;
}
img.mw256,
canvas.mw256 {
  min-width: 256px;
}
img.mw128,
canvas.mw128 {
  min-width: 128px;
}
img.mw64,
canvas.mw64 {
  min-width: 64px;
}
img.s128,
canvas.s128 {
  width: 128px;
  height: 128px;
}
img.s64,
canvas.s64 {
  width: 64px;
  height: 64px;
}
div.m10 {
  margin: 10px;
}
div.m20 {
  margin: 20px;
}
div.m30 {
  margin: 30px;
}
div.m40 {
  margin: 40px;
}
div.m50 {
  margin: 50px;
}
div.m60 {
  margin: 60px;
}
div.mt10 {
  margin-top: 10px;
}
div.mt20 {
  margin-top: 20px;
}
div.mt30 {
  margin-top: 30px;
}
div.mt40 {
  margin-top: 40px;
}
div.mt50 {
  margin-top: 50px;
}
div.mt60 {
  margin-top: 60px;
}
div.mb10 {
  margin-bottom: 10px;
}
div.mb20 {
  margin-bottom: 20px;
}
div.mb30 {
  margin-bottom: 30px;
}
div.mb40 {
  margin-bottom: 40px;
}
div.mb50 {
  margin-bottom: 50px;
}
div.mb60 {
  margin-bottom: 60px;
}
div.mla {
  margin-left: auto;
}
div.ml10 {
  margin-left: 10px;
}
div.ml20 {
  margin-left: 20px;
}
div.ml30 {
  margin-left: 30px;
}
div.ml40 {
  margin-left: 40px;
}
div.ml50 {
  margin-left: 50px;
}
div.ml60 {
  margin-left: 60px;
}
div.mra {
  margin-right: auto;
}
div.mr10 {
  margin-right: 10px;
}
div.mr20 {
  margin-right: 20px;
}
div.mr30 {
  margin-right: 30px;
}
div.mr40 {
  margin-right: 40px;
}
div.mr50 {
  margin-right: 50px;
}
div.mr60 {
  margin-right: 60px;
}
div.p10 {
  padding: 10px;
}
div.p20 {
  padding: 20px;
}
div.p30 {
  padding: 30px;
}
div.p40 {
  padding: 40px;
}
div.p50 {
  padding: 50px;
}
div.p60 {
  padding: 60px;
}
div.pt10 {
  padding-top: 10px;
}
div.pt20 {
  padding-top: 20px;
}
div.pt30 {
  padding-top: 30px;
}
div.pt40 {
  padding-top: 40px;
}
div.pt50 {
  padding-top: 50px;
}
div.pt60 {
  padding-top: 60px;
}
div.pb10 {
  padding-bottom: 10px;
}
div.pb20 {
  padding-bottom: 20px;
}
div.pb30 {
  padding-bottom: 30px;
}
div.pb40 {
  padding-bottom: 40px;
}
div.pb50 {
  padding-bottom: 50px;
}
div.pb60 {
  padding-bottom: 60px;
}
div.pl10 {
  padding-left: 10px;
}
div.pl20 {
  padding-left: 20px;
}
div.pl30 {
  padding-left: 30px;
}
div.pl40 {
  padding-left: 40px;
}
div.pl50 {
  padding-left: 50px;
}
div.pl60 {
  padding-left: 60px;
}
div.pr10 {
  padding-right: 10px;
}
div.pr20 {
  padding-right: 20px;
}
div.pr30 {
  padding-right: 30px;
}
div.pr40 {
  padding-right: 40px;
}
div.pr50 {
  padding-right: 50px;
}
div.pr60 {
  padding-right: 60px;
}
div.flex {
  display: flex;
}
div.flex1 {
  flex: 1;
}
div.flex2 {
  flex: 2;
}
div.flex3 {
  flex: 3;
}
div.flex-row {
  flex-direction: row;
}
div.flex-column {
  flex-direction: column;
}
div.cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.cch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.ccv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.ct {
  text-align: center;
}
div.wh {
  min-height: 100vh;
}
div.wh-header {
  min-height: calc(100vh - 80px);
}
div.wh-header-x2 {
  min-height: calc(100vh - 80px - 80px);
}
div.mw1200 {
  width: 100%;
  max-width: 1200px;
}
div.mw1100 {
  width: 100%;
  max-width: 1100px;
}
div.mw1000 {
  width: 100%;
  max-width: 1000px;
}
div.mw900 {
  width: 100%;
  max-width: 900px;
}
div.mw800 {
  width: 100%;
  max-width: 800px;
}
div.mw700 {
  width: 100%;
  max-width: 700px;
}
div.mw600 {
  width: 100%;
  max-width: 600px;
}
div.fs-large {
  font-size: large;
}
div.fs-x-large {
  font-size: x-large;
}
div.fs-xx-large {
  font-size: xx-large;
}
div.fs-normal {
  font-size: normal;
}
div.fs-small {
  font-size: small;
}
div.fs-x-small {
  font-size: x-small;
}
div.fs-xx-small {
  font-size: xx-small;
}
div.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div.fw100 {
  font-weight: 100;
}
div.fw200 {
  font-weight: 200;
}
div.fw300 {
  font-weight: 300;
}
div.fw400 {
  font-weight: 400;
}
div.fw500 {
  font-weight: 500;
}
div.bb {
  background: #000000;
}
div.bw {
  background: #ffffff;
}
div.b1 {
  background: #f7fbfb;
}
div.b2 {
  background: #eff7f8;
}
div.b3 {
  background: #007eff;
}
div.b4 {
  background: linear-gradient(#fff, #f7fbfb);
}
div.b5 {
  background: linear-gradient(-90deg, #222, #45454d);
}
ul.m0 {
  margin: 0;
}
ul.p0 {
  padding: 0;
}
ul.lstn {
  list-style-type: none;
}
ul li.mb10 {
  margin-bottom: 10px;
}
ul li.mb20 {
  margin-bottom: 20px;
}
.fa.fa-thinner-white {
  -webkit-text-stroke: 1px white;
}
.fa.fs-50px {
  font-size: 50px;
}
.fa.fs-60px {
  font-size: 60px;
}
.fa.fs-70px {
  font-size: 70px;
}
.fa.fs-80px {
  font-size: 80px;
}
