extends page.jade

prepend head
    - var selectedPage = page
    - var selectedArticles = []

    - var root = contents['blog']
    - var index = root['index.json']

    - var entries = Object.values(root).filter(function (entry) {
    -   return entry !== index
    - })

    - var articles = entries.sort(function (itemA, itemB) {
    -   return Date.parse(itemB.metadata.date) - Date.parse(itemA.metadata.date)
    - })

    - selectedPage = articles[0]

    if page === index
        - page = selectedPage

    - var pageIndex = articles.indexOf(page)

    - selectedArticles = articles.slice(pageIndex + 1, 10 + pageIndex)

block article
    section.hero
        h1=page.title
        div.fs-small=page.rfc822date

    section.cc.blog
        div.mw800
            !=page.html

    if selectedArticles.length
        section.hero
            h2 Previously
            ul.m0.p0.lstn
                for selectedArticle in selectedArticles
                    li: a(href=getPageUrl(selectedArticle))=selectedArticle.title
