extends base.jade

block body
    header
        nav
            ul.left
                li: a(href=getPageUrl(contents['index.md'])) Home
                li: a(href=getPageUrl(contents['blog']['index.json'])) Blog
                li: a(href=getPageUrl(contents['about.md'])) About

        div.cc
            img.f70(src=contents['images']['icon.png'].getUrl())

        nav
            ul.right
                li: a(href="https://twitter.com/opendevsecops") Twitter
                li: a(href="https://github.com/opendevsecops") GitHub

    article#main
        block article
            !=page.html

    footer
        nav#bottom
            block bottomnav
