extends page.jade

prepend head
    - var selectedArticles = []

    - var root = contents['solutions']
    - var index = root['index.json']

    - var entries = Object.values(root).filter(function (entry) {
    -   return entry !== index
    - })

    - var pages = entries.sort(function (itemA, itemB) {
    -   return parseInt(itemB.metadata.priority || '0') - parseInt(itemA.metadata.priority || '0')
    - })

    if page === index
        - page = entries[0]

block article
    header.bb.cw
        nav
            ul.left
                li=page.metadata.title

        div

        nav
            ul.right
                li: a(href="#overview") Overview
                li: a(href="#use-cases") Use Cases
                li: a(href="#features") Features
                li: a(href="#docs") Docs
                li: a(href="#download") Download

    div
        !=page.html
